.search-box {
	display: flex;
	justify-content: center;
	margin: 2rem 0;
	padding: 1.5rem;
	background-color: $color-black;

	&__input,
	&__filter,
	&__search-button {
		padding: 1rem;
		font-size: 2rem;
		font-weight: 500;
		font-family: "Poppins", sans-serif;
		text-transform: uppercase;
		border: none;
		border-radius: 3px;
	}
	&__input {
		width: 40%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&__filter {
		border-radius: 0;
		border: 1px solid $color-grey-light;
	}
	&__search-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		cursor: pointer;
		@include gradientBackground;
		color: $color-white;
		transition: all 0.3s;

		&:hover {
			background-image: linear-gradient(
				145deg,
				$color-primary-dark,
				$color-primary-light
			);
		}
		&:active {
			box-shadow: inset -3px 3px 6px $color-primary-dark;
		}
	}
}
