// Flexbox
.d-flex {
	display: flex;
}

// Spacing
.text-center {
	text-align: center;
}

.margin-y-big {
	margin-top: 6rem;
	margin-bottom: 6rem;
}
.margin-top-for-nav {
	margin-top: 15rem;
}
.margin-big {
	margin: 4rem;
}

// Common Styles
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: $color-black;
}

//Other
.cursor-pointer {
	cursor: pointer;
}
