@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
}

.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.text-center {
	text-align: center;
}

.margin-y-big {
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.margin-top-for-nav {
	margin-top: 15rem;
}

.margin-big {
	margin: 4rem;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #333;
}

.cursor-pointer {
	cursor: pointer;
}

.heading-primary {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 3rem;
	margin: 2rem 0;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#5643fa),
		to(#2998ff)
	);
	background-image: linear-gradient(to right, #5643fa, #2998ff);
	background-clip: text;
	color: transparent;
	display: inline-block;
}

.heading-secondary {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 2.5rem;
	margin: 1.5rem 0;
	color: #2b2b2b;
}

.navbar {
	height: 10rem;
	width: 90%;
	margin: 2rem auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f6f6f6;
	border-radius: 10rem;
	padding: 0 2rem;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 100;
}

.navbar__logo-box {
	margin: 0 2rem;
}

.navbar__logo {
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar__logo span {
	display: block;
	text-align: center;
	line-height: 16px;
}

.navbar__logo span:first-child {
	color: #5643fa;
}

.navbar__logo span:last-child {
	color: #2998ff;
}

.navbar__list {
	list-style: none;
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
}

.navbar__item {
	margin: 0 1rem;
}

.navbar__link {
	display: inline-block;
	padding: 1rem 2rem;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar__link::after {
	content: "";
	width: 0;
	height: 3px;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#5643fa),
		to(#2998ff)
	);
	background-image: linear-gradient(to right, #5643fa, #2998ff);
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navbar__link:hover,
.navbar__link:focus,
.navbar__link.active {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#5643fa),
		to(#2998ff)
	);
	background-image: linear-gradient(to right, #5643fa, #2998ff);
	background-clip: text;
	color: transparent;
	display: inline-block;
}

.navbar__link:hover::after,
.navbar__link:focus::after,
.navbar__link.active::after {
	width: 100%;
}

.footer {
	width: 100%;
	height: 8rem;
	background-color: #333;
	color: #f6f6f6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer__text {
	font-weight: 500;
}

.box-shadow {
	width: 20rem;
	height: 20rem;
	margin: 0.5rem;
	background-color: #f6f6f6;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.box-shadow__text {
	font-weight: 500;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box-shadows-container {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.text-shadows-container {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.text-shadow {
	margin: 0.5rem;
	background-color: #333;
	height: 25rem;
	border-radius: 5px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	cursor: pointer;
	color: #f6f6f6;
}

.text-shadow__main-text {
	padding: 2rem 4rem;
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.backToTop {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #2b2b2b;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.backToTop__icon {
	font-size: 2rem;
	color: #f6f6f6;
	padding: 1rem;
}

.coming-soon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 87vh;
}

.tooltip {
	position: relative;
}

.tooltip::before,
.tooltip::after {
	--scale: 0;
	--tooltip-color: #333;
	--tooltip-text-color: #f6f6f6;
	--arrow-size: 10px;
	--tooltip-offset: -5px;
	position: absolute;
	top: var(--tooltip-offset);
	left: 50%;
	visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(var(--translate-y, 0))
		scale(var(--scale));
	transform: translateX(-50%) translateY(var(--translate-y, 0))
		scale(var(--scale));
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
	pointer-events: none;
}

.tooltip::before {
	--translate-y: calc(-100% - var(--arrow-size));
	content: attr(data-tooltip-content);
	padding: 8px 10px;
	border-radius: 3px;
	text-align: center;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-width: 100%;
	background-color: var(--tooltip-color);
	color: var(--tooltip-text-color);
}

.tooltip:hover::before,
.tooltip:hover::after,
.tooltip:focus::before,
.tooltip:focus:after {
	--scale: 1;
	visibility: visible;
}

.tooltip::after {
	--translate-y: calc(-1 * var(--arrow-size));
	content: "";
	border: var(--arrow-size) solid transparent;
	border-top-color: var(--tooltip-color);
	-webkit-transform-origin: top center;
	transform-origin: top center;
}

.search-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 2rem 0;
	padding: 1.5rem;
	background-color: #333;
}

.search-box__input,
.search-box__filter,
.search-box__search-button {
	padding: 1rem;
	font-size: 2rem;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
}

.search-box__input {
	width: 40%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search-box__filter {
	border-radius: 0;
	border: 1px solid #5c5c5c87;
}

.search-box__search-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#5643fa),
		to(#2998ff)
	);
	background-image: linear-gradient(to right, #5643fa, #2998ff);
	color: #f6f6f6;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.search-box__search-button:hover {
	background-image: linear-gradient(145deg, #5643fa, #2998ff);
}

.search-box__search-button:active {
	-webkit-box-shadow: inset -3px 3px 6px #5643fa;
	box-shadow: inset -3px 3px 6px #5643fa;
}

.spinner {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	z-index: 10;
	width: 50px;
	height: 50px;
}

.spinner .path {
	stroke: #6c5cfb;
	stroke-linecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

.home {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 87vh;
}

.entities {
	margin: 2rem 6rem;
	font-weight: 500;
}

.entities__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	border-bottom: 1px solid #5c5c5c87;
	padding: 1rem 0.5rem;
}

.entities__column {
	padding: 0.6rem 1rem;
	width: 10rem;
	text-align: center;
}

.entities__character {
	font-size: 3rem;
}

.entities__heading {
	margin: 2rem 6rem;
	text-transform: uppercase;
}

.entities__heading h5 {
	font-weight: 600;
}

.entities__tooltip {
	width: 100%;
	height: 100%;
}

.entities-loading {
	text-align: center;
}
/*# sourceMappingURL=main.css.map */
