.box-shadow {
	width: 20rem;
	height: 20rem;
	margin: 4rem;
	// background-color: $color-white;
	border-radius: 3px;
	@include absoluteCenter;
	cursor: pointer;
	flex-direction: column;
	user-select: none;

	&__text {
		font-weight: 500;
		text-transform: uppercase;
		transition: all 0.3s;
	}
	&__copy-text {
		font-size: 1.4rem;
		transition: all 0.3s;
	}
	&:hover &__copy-text {
		transform: scale(1.1);
	}
}
