.box-shadow {
	width: 20rem;
	height: 20rem;
	margin: 0.5rem;
	background-color: $color-white;
	border-radius: 5px;
	@include absoluteCenter;
	cursor: pointer;
	flex-direction: column;
	user-select: none;

	&__text {
		font-weight: 500;
		text-transform: uppercase;
		transition: all 0.3s;
	}
}

// Box Shadow container
.box-shadows-container {
	flex-wrap: wrap;
	justify-content: center;
}
