// Text Shadow container
.text-shadows-container {
	flex-wrap: wrap;
	justify-content: center;
}

// Main Text Shadow

.text-shadow {
	margin: 0.5rem;
	background-color: $color-black;
	height: 25rem;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	color: $color-white;

	&__main-text {
		padding: 2rem 4rem;
		font-size: 4rem;
		font-weight: 700;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
}
